<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main class="content">
        <h1><%= pageTitle %></h1>
        <p><%= error %></p>
    </main>


<%- include('../includes/end.ejs') %>