<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">

    <!-- primary colors -->
    <% if (locals.colors) { %>
        <style>
            :root {
                --primaryColor: <%= colors.primaryColor %>;
                --primaryColorLighter: <%= colors.primaryColorLighter %>;
                --primaryColorDarker: <%= colors.primaryColorDarker %>;
            }
        </style>
    <% } %>

    <!-- if also secondary colors -->
    <% if (locals.colors && locals.colors.secondaryColor) { %>
        <style>
            :root {
                --secondaryColor: <%= colors.secondaryColor %>;
                --secondaryColorLighter: <%= colors.secondaryColorLighter %>;
                --secondaryColorDarker: <%= colors.secondaryColorDarker %>;
            }
        </style>
    <% } %>

    <script type="module">
        const navs = document.getElementsByClassName('nav-list__item');
        
        if(window.location.pathname !== 'cart') {
    
            const currentPath = "/<%= pagePath %>"
        
        
            Array.from(navs).forEach(nav => {
                if(currentPath === nav.getAttribute('data-path')) {
                    nav.classList.add('nav-list__item--active')
                }
            });
        }

    </script>